@tailwind base;

/* Write your own custom base styles here */
html, body {
  background-image: linear-gradient(to bottom right, #e2e8f0, #1a202c);
  margin: 0;
  height: 100%;
}

.icon {
  height: 44px;
  width: 44px;
}

#spotify-icon {
  position: relative;
  top: 10px;
  left: 10px;
}

button:focus {
  outline: 0 !important;
}

 #main {
  display: grid;
  grid-template-columns: 10rem auto;
}

#gridbox {
  display: grid;
  padding-left: 17rem;
}

.graph-icon {
  height: 24px;
  width: 24px;
}

.graph {
  height: 100vh;
  width: 97%;
}

.text-5 {
  font-size: 3rem;
}

.text-4 {
  font-size: 2.75rem;
}

.text-3 {
  font-size: 2.5rem;
}

.text-2 {
  font-size: 2.25rem;
}

.text-1 {
  font-size: 2rem;
}

#profile {
  border: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
#sidebar {
  width: 15vw;
}

.topArtistGraph {
  padding-left: 5%;
  background-color: #e2e8f0;
  width: 100%;
  padding-right: 2.5%;
  margin-right: 0;
  border-right: 0;
}
@media (min-width: 1200px) { 
/* Or @media (min-width: config('screens.xl')) { */
  
  #main { grid-template-columns: 12rem auto; }
  /* Or #main { grid-template-columns: config('width.48') auto; } */
}

a {
  text-decoration: none;
  /* Or @apply .no-underline; */
}

/* Just a new padding size */
.pt-16 {
  padding-top: 4rem;
}

/*
 * Just some customized new utilities needed for the submenus
 * Add this before
 */
.top-full { top: 100%; }
.left-full { left: 100%; }
/* 
 * Active "group-hover" for the "display" module in your
 * tailwind.js config file like this:
 * 
 * display: ['responsive', 'group-hover']
 *
 * More info on https://tailwindcss.com/docs/state-variants/#group-hover
 */
.group:hover .group-hover\:block {
  display: block;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
