@tailwind base;

/* Write your own custom base styles here */
html, body {
  background-image: linear-gradient(to bottom right, #e2e8f0, #1a202c);
  margin: 0;
  height: 100%;
}

.icon {
  height: 44px;
  width: 44px;
}

#spotify-icon {
  position: relative;
  top: 10px;
  left: 10px;
}

button {
  height: 45px;
  outline: none;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
